<div class="text-center text-white h-100">
  <div class="container p-2 pb-4 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <!-- <h5 class="float-md-end mb-0 ml-4" style="padding-left: 25px;"></h5> -->
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" routerLink="/portal" routerLinkActive="active" aria-current="page">Portal</a>
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/employees" routerLinkActive="active">employees</a>
          <!-- <a class="nav-link" routerLink="/home">LogOut</a> -->
        </nav>
      </div>
    </header>
  </div><br>
  <hr class="nav-below-border"> 

</div>