/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    /* font-family: 'Roboto'; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}
* {
    margin: 0;
    /* font-family: 'Roboto'; */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}
.modal-title, label{
    color:black;
}