<div class="text-white" style="padding-top: 50px;">
    <div class="container">
      <div class="row">
        <!-- <h2 class="text-left text-info">Admin Portal</h2> -->
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-0">
          <div> 
            
          </div>
        </div>
  
        <div class="col-12" >
          <!-- <h2 class="text-primary">Edit/Delete Registered Users</h2> -->
          <table class="table table-dark">
            <thead class="p-3 mb-2 bg-success text-white">
             <tr><td colspan="4"> Details of {{employeeData.first_name}} {{employeeData.last_name}}</td></tr>
              <tr>
                <td scope="col">Employee Id</td>
                <td>{{employeeData.id}}</td>
              </tr>
              <tr>
                <th scope="col">Employee First Name</th>
                <td>{{employeeData.first_name}}</td>
              </tr>
              <tr>
                <th scope="col">Employee Last Name</th>
                <td>{{employeeData.last_name}}</td>
            </tr>
              <tr>
                <th scope="col">Employee Email</th>
                <td>{{employeeData.email}}</td>
              </tr>
              <tr>
                <td colspan="4">
                  <button (click)="onEmployeeListHandler()" class="btn btn-primary">Employee List</button> &nbsp;
                  <button (click)="onDeleteHandler(employeeData)" class="btn btn-danger" >Delete</button>  &nbsp;
                  <button (click)="onEmpBtnClick(employeeData)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary">Update</button>
                </td>                  
              </tr>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog"  style="margin-top: 150px;">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Employee Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="employeeForm">
              <div class="form-group">
                <label for="id" >ID</label>
                <input type="input" class="form-control" placeholder="Enter Id" id="id" formControlName="id">
              </div>
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="input" class="form-control" placeholder="Enter Fisrt Name" id="first_name" formControlName="first_name">
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="input" class="form-control" placeholder="Enter Last Name" id="last_name" formControlName="last_name">
              </div>
              <div class="form-group">
                <label for="username">Email</label>
                <input type="input" class="form-control" placeholder="Enter Email" id="email" formControlName="email">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="onSave()" data-bs-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>