<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automating-Ecommerce-Website">
	<parameter name="fileLoc"
		value="E:\\screenshots\\"></parameter>
	<parameter name="websiteURL" value="https://www.flipkart.com"></parameter>
	<test name="Testing on Chrome Browser" parallel="false">
		<parameter name="driverName" value="chrome"></parameter>
		<parameter name="driverPath"
			value="C:\\Users\\LENOVO\\Downloads\\Selenium jars\\chromedriver.exe"></parameter>
		<classes>
			<class name="com.example.EcommerceAutomationTest" />
		</classes>
	</test>
	<test name="Testing on Edge Browser" parallel="false">
		<parameter name="driverName" value="edge"></parameter>
		<parameter name="driverPath"
			value="C:\Users\LENOVO\Desktop\pp\msedgedriver.exe"></parameter>
		<classes>
			<class name="com.example.EcommerceAutomationTest" />
		</classes>
	</test>
	<test name="Testing on Firefox Browser" parallel="false">
		<parameter name="driverName" value="gecko"></parameter>
		<parameter name="driverPath"
			value="C:\Users\LENOVO\Desktop\Phase 5\geckodriver.exe"></parameter>
		<classes>
			<class name="com.example.EcommerceAutomationTest" />
		</classes>
	</test>
</suite> 
